[Desktop Entry]
Terminal=false
Type=Application
Name= Daily Blue Marble
Exec=mycroft-gui-app --hideTextInput --skill=skill-blue-marble.jarbasskills.home
Icon=icon.png
Categories=VoiceApp
StartupNotify=false
X-DBUS-StartupType=None
X-KDE-StartupNotify=false